/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

 body{
     background-color: rgb(247, 164, 182);
 }
 
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  
 #slider {
    position: relative;
    height: 300px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .slide {
    /* we position the slide absolutely compared to its parent #slider */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

 .slider-button{
     cursor: pointer;
     display: inline-flex;
     margin-left: auto;
     margin-right: auto;
 }

 .button1{
    position: absolute;
    left: -10px;
 }
 .button1{
    position: absolute;
    right: -10px;
 }

 