#mapid { 
    height: 600px; 
    width: 600px;
}



.column{
    display: flexbox;
    position: relative;
    margin: 20px;
    left: 575px;
    top: 20px;
}

.columns{
    margin-left: 250;
    margin: 10px;
    display: flexbox;
    position:relative;
}
html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 10px;
  
  }
  
body {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: cornflowerblue;
    color: #fff;
  }

h1 {
    margin-bottom: 5px;
    font-size: 4em;
    padding-left: 15px;
    font-family: 'Poppins', serif;
    flex-direction: column;
    
}

h2{
    margin-bottom: 10px;
    font-size: 2em;
    padding-left: 15px;
    font-family: 'Poppins', serif;
    flex-direction: column;
}

.suggestions {
    display:flex-box;
    margin-left: 100;
    font-size: medium;
    flex-direction: column;
    align-items: left;
}

.box1 {
    margin-left: 250;
    margin: 10px;
    display: flexbox;
    position:relative;
    left: -575px;
    top: 20px;

}
.container {
    display: flex;
    align-items: left;
    justify-content: left;
    align-self: left;
  }
  
.container * {
    box-sizing: border-box;
  }

.flex-outer > .box1:not(:last-child) {
    margin-bottom: 20px;
  }

.flex-outer .box1 label, .box1 .rname
.flex-outer .box1 li {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em; 
  }

.flex-outer>.box1>label, .flex-outer .box1 .rname{
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>.box1>.rname>label + *, .flex-inner{
    flex: 1 0 220px;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
  }  

.flex-outer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 500px;
  }

.flex-outer .box1, .flex-inner .rname{
    display: flex;
    flex-wrap: wrap;
}

.column-background{
    background: rgb(247, 148, 148); 
    height: 100px;
}

.search-form {
    display: flex;
    font-size:small;
    font-family: 'Poppins', serif;
    margin: 0 auto;
    position:fixed;
    text-align: left;
    align-self: left;
}

#grad .box1{
    background-image: linear-gradient(180deg, rgb(194, 167, 245), rgb(134, 181, 235)); /* color gradient detail */ 
}

.name{
    font-family: 'Poppins', serif;
    display: flexbox;
} 

.hl{
    font-family: 'Poppins', serif;
    display:flexbox;  
}

.zipcode {

    font-family: 'Poppins', serif;
    display:flexbox;
}

